<header class="flex flex-grow justify-between p-4">
  <!-- TODO: update aria labels -->
  <div class="flex gap-2">
    <mat-icon
      aria-hidden="false"
      aria-label="Album unknown"
      fontIcon="arrow_back_ios"
      class="text-xl text-gray-400" />
    <mat-icon
      aria-hidden="false"
      aria-label="Album unknown"
      fontIcon="arrow_forward_ios"
      class="text-xl text-gray-400" />
  </div>
  <div class="flex gap-2">
    <mat-icon
      aria-hidden="false"
      aria-label="Album unknown"
      fontIcon="notifications_none"
      class="text-xl text-gray-400" />
    <mat-icon
      aria-hidden="false"
      aria-label="Album unknown"
      fontIcon="group"
      class="text-xl text-gray-400" />
    <mat-icon
      aria-hidden="false"
      aria-label="Album unknown"
      fontIcon="account_circle"
      class="text-xl text-gray-400" />
  </div>
</header>

<h1 class="text-3xl font-medium">Good evening</h1>
<section
  class="grid grid-cols-1 grid-rows-6 sm:grid-cols-2 sm:grid-rows-3 lg:grid-cols-3 lg:grid-rows-2 gap-4 my-4">
  @for (album of albums$ | async | slice:0:6; track album.id) {
  <div class="flex overflow-hidden rounded-md">
    <div
      class="w-[64px] h-[64px] lg:w-[80px] lg:h-[80px] bg-black shrink-0 transition-all">
      <img
        [src]="album.images['2'].url"
        alt="album cover for  {{ album.name }}" />
    </div>
    <div
      class="bg-gradient-to-r from-gray-700 to-bg-ternary grid items-center p-2 w-full">
      <strong>{{ album.name }}</strong>
    </div>
  </div>
  }
</section>
<h2 class="text-2xl font-medium">Artists you might like</h2>
<section
  class="grid grid-cols-2 grid-rows-1 sm:hidden gap-4 my-4 overflow-hidden">
  @for (artist of artists$ | async | slice:0:4; track $index) {
  <div class="overflow-hidden rounded-md w-full aspect-[3/4] bg-bg-ternary p-2">
    <div class="w-full rounded-md aspect-square bg-black transition-all">
      <img
        [src]="artist.images['0'].url"
        alt="artist image for {{ artist.name }}" />
    </div>
    <h3
      class="text-xl font-medium overflow-hidden whitespace-nowrap text-ellipsis">
      {{ artist.name }}
    </h3>
    <p class="text-gray-400">{{ artist.genres[0] }}</p>
  </div>
  }
</section>

<section
  class="hidden sm:grid grid-rows-1 grid-cols-3 md:hidden gap-4 my-4 overflow-hidden">
  @for (artist of artists$ | async | slice:0:6; track $index) {
  <div class="overflow-hidden rounded-md w-full aspect-[3/4] bg-bg-ternary p-2">
    <div class="w-full rounded-md aspect-square bg-black transition-all"></div>
    <h3
      class="text-xl font-medium overflow-hidden whitespace-nowrap text-ellipsis">
      {{ artist.name }}
    </h3>
    <p class="text-gray-400">{{ artist.genres[0] }}</p>
  </div>
  }
</section>

<section
  class="hidden md:grid grid-rows-1 grid-cols-4 lg:hidden gap-4 my-4 overflow-hidden">
  @for (artist of artists$ | async | slice:0:8; track $index) {
  <div class="overflow-hidden rounded-md w-full aspect-[3/4] bg-bg-ternary p-2">
    <div class="w-full rounded-md aspect-square bg-black transition-all">
      <img
        [src]="artist.images['0'].url"
        alt="artist image for {{ artist.name }}" />
    </div>
    <h3
      class="text-xl font-medium overflow-hidden whitespace-nowrap text-ellipsis">
      {{ artist.name }}
    </h3>
    <p class="text-gray-400">{{ artist.genres[0] }}</p>
  </div>
  }
</section>

<section
  class="hidden lg:grid grid-rows-1 grid-cols-6 gap-4 my-4 overflow-hidden">
  @for (artist of artists$ | async | slice:0:12; track $index) {
  <div class="overflow-hidden rounded-md w-full aspect-[3/4] bg-bg-ternary p-2">
    <div class="w-full rounded-md aspect-square bg-black transition-all">
      <img
        [src]="artist.images['0'].url"
        alt="artist image for {{ artist.name }}" />
    </div>
    <h3
      class="text-xl font-medium overflow-hidden whitespace-nowrap text-ellipsis">
      {{ artist.name }}
    </h3>
    <p class="text-gray-400">{{ artist.genres[0] }}</p>
  </div>
  }
</section>
